---
import MainLayout from '../layouts/MainLayout.astro'
import '../styles/404.css'
---

<MainLayout title="404">

    
    </MainLayout>
    <div class="card">
        <div class="grid">
            <div class="error">
                <span>404
                    error
                </span>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing 
                    elit  sed do eiusmod tempor incididunt ut labore et dolore magna aliqua<br/>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor 
                    ut labore et dolore magna aliqua. Ut enim ad minim veniam quis nostrud 
                    exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                    <button>more</button>
                </div>
                <div class="img">
                    <img src="https://i.postimg.cc/DZJvnd48/error.png">
                </div>
            </div>
        </div> 
        <a href="/">Regresa al incio</a>
